<app-user-form
        class="page-content"
        [form]="form"
        [roles]="roles"
        [submitted]="submitted"
        title="Edit User"
        usernameError="Username is required (min. 4 chars)"
        passwordError="Password must be at least 6 characters and contain: uppercase, lowercase, number and special character"
        [backendErrors]="errors"
        [showEmail]="true"
        [showRole]="true"
        [showPasswordHint]="true"
        [showConfirmPassword]="true"
        submitText="Save"
        footerLinkText="Back to users list"
        footerLink="/admin/admin-panel/"
        (submitForm)="editUser()" />
