<app-user-form
        class="page-content"
        [form]="form"
        [submitted]="submitted"
        title="Register"
        [showEmail]="true"
        [showConfirmPassword]="true"
        usernameError="Username is required (min. 4 chars)"
        passwordError="Password must be at least 6 characters and contain: uppercase, lowercase, number and special character"
        submitText="Create User"
        footerText="Already have an ccount?"
        footerLinkText="Login"
        [backendErrors]="errors"
        footerLink="/account/login/"
        (submitForm)="register()" />
